{% extends 'partials/base.html.twig' %}

{% block content %}
  <div class="container mx-auto flex lg:flex-row flex-col-reverse px-5 sm:px-10 lg:px-20 2xl:py-32" x-data="{inView: false}" x-intersect="inView = true" x-cloak>
  <div class="lg:w-1/2 w-full my-auto pt-10">
    <div class="pretitle" :class="inView ? 'opacity-100 translate-x-0':'opacity-0 -translate-x-24'">
      Property Management Blog 
    </div>
    <div x-cloak class="h1"  :class="inView ? 'opacity-100 translate-x-0':'opacity-0 -translate-x-24'">
      <div class="text-green-200 -top-5 -left-16 absolute z-0 transition-all duration-500 delay-300" :class="inView ? 'opacity-100 translate-y-0':'opacity-0 translate-y-5'">
      {{ svg_image('theme://images/zig-zag-square.svg')|raw }}
      </div>
      <h1 class="relative z-10">{{page.title}}</h1>
    </div>
    <div class="pr-20 text-2xl leading-relaxed transition-all duration-500 delay-500" :class="inView ? 'opacity-100 translate-y-0' : 'opacity-0 translate-y-5'">
      <div class="">
        {{page.header.big_menu.subtitle|raw}}
      </div>
    </div>
    {% include 'partials/dash.html.twig' %}
  </div>
  <div class="w-1/2 relative group overflow-hidden  origin-bottom-right my-auto">
    <img 
      :class="inView ? 'translate-y-0' : 'translate-y-full'"
      class="transition-all duration-700 delay-500 ease-in-out w-3/4 object-cover h-96 mx-auto rounded-t-full relative bottom-0 z-10"
      src="{{ page.media[page.header.featured_image].url()|raw }}" />
      <div class="absolute bottom-0 z-20 transition-all duration-500" x-cloak :class="inView ? 'opacity-100 left-0' : 'opacity-0 left-10'">
        {{svg_image('theme://images/rental-things.svg')|raw}}
      </div>
    <div x-cloak
      :class="inView ? 'scale-x-[2]' : 'scale-x-0'"
      class="bg-green-900 h-0.5 w-full duration-500 ease-in-out origin-left block absolute bottom-0 z-10 transition-all"></div>
  </div>
</div>

  <div class="mx-auto container px-20 flex flex-row">
    <div class="w-3/5 content">
      {{ page.content|raw }}
    </div>
    <div class="w-2/5 p-10">
        <div class="bg-green-300 p-10 rounded-2xl">
            {% set test = page.find('/home/_testimonials').header.testimonials|first %}
            <div>
                {{test.text}}
                {% include 'partials/dash.html.twig' %}
                <div class="font-bold mt-5">{{test.author}}</div>
                <div class="font-bold ">{{test.title}}</div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}
